<div
  class="dropdown-collection"
  [ngClass]="{ 'dropdown-open': isDropdownOpen }"
>
  <button
    class="dropdown-button"
    (click)="toggleDropdown()"
    [(ngModel)]="currentValue"
    (ngModelChange)="currentValueChange.emit($event)"
    ngDefaultControl
  >
    <span test-id="test-id-currentValue" [class.placeholder]="!currentValue">{{
      currentValue ? currentValue.name : placeholder
    }}</span>
    <img
      class="icon"
      src="./../../../../assets/icons/chevron.svg"
      alt="chevron"
    />
  </button>
  <div class="wrapper">
    <ul test-id="test-id-ul" class="dropdown-list">
      <li
        [ngClass]="{ selected: currentValue === option }"
        *ngFor="let option of options"
        (click)="select(option)"
      >
        {{ option?.name }}
      </li>
    </ul>
  </div>
</div>
