@import "./../../../../assets/styles/colors.scss";
@import "./../../../../assets/styles/typography.scss";

$width: 400px;

.dropdown-collection {
  width: $width;
  position: relative;
  &.dropdown-open {
    .wrapper {
      display: block;
    }
    .icon {
      transform: rotate(180deg);
    }
  }
}

.placeholder {
  color: $placeholder-color;
}

.dropdown-button {
  border-radius: 8px;
  border: 1px solid $border-color;
  padding: 12px 12px 12px 12px;
  background-color: $background-color;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: $font-size;
  width: 100%;
  height: 35px;
  cursor: pointer;
}

.icon {
  max-width: 14px;
  margin-left: auto;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
  font-family: sans-serif;
}

.wrapper {
  display: none;
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  padding: 10px;
  padding-left: 0;
  background: $background-color;
  transform: translateY(100%);
  border: 1px solid $border-color;
  border-radius: 8px;
  box-shadow: 2px 0px 5px 0px fade_out($shadow-color, 0.8);
}

.dropdown-list {
  font-size: $font-size;
  overflow-y: scroll;
  max-height: calc(1.6rem * 7);
  margin: 0px;
  li {
    padding: 5px 16px;
    cursor: pointer;
    &.selected {
      background: darken($background-color, 5%);
    }
    &:hover {
      background: fade_out($accent-color, 0.6);
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  border-right: solid 1px $scroll-bar-color;
}

::-webkit-scrollbar-button {
  background: $scroll-button-color;
}

::-webkit-scrollbar-thumb {
  border-right: solid 1px $scroll-thumb-color;
  width: 10px;
}
