$accent-color: #c8e9fb;
$text-color: #444;
$background-color: #fff;
$border-color: #ddd;
$shadow-color: #000;
$placeholder-color: #ccc;
$scroll-thumb-color: #000;
$scroll-button-color: #ccc;
$scroll-bar-color: #d3d3d3;